.display-3 {
  text-align: center;
}

.lead {
  text-align: center;
}

#stuff {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url(clouds.jpg);
}

h1 {
    text-shadow: 2px 2px 4px #000000;
}
